@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Dancing+Script:wght@500&family=Grenze:wght@600;700&family=Lobster&family=Outfit:wght@200;300;400&family=Poppins:ital,wght@1,200;1,300&family=Public+Sans:wght@300;400&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main navbar styling */
.mainNav {
  z-index: 10;
  box-shadow: 0px 0px 10px #000;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
}
.mainNav .searchOpencls {
  position: absolute;
  right: 225px;
  font-size: 1.5rem;
  color: rgb(255, 115, 0);
}
.mainNav .searchOpencls i {
  padding: 5px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}
.mainNav .abarh1 {
  text-decoration: none;
  color: #000;
}
.mainNav .searchForm {
  overflow: hidden;
  position: relative;
  transition: width 0.5s ease-in-out;
}
.mainNav .searchForm #searchTxt {
  width: 100%;
  border: none;
  outline: none;
  padding: 2px;
  padding-left: 5px;
}
.mainNav .searchForm .searchicon {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: gray;
}
.mainNav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1px 40px;
}
.mainNav nav h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: sans-serif;
}
.mainNav nav h1 img {
  width: 35px;
}
.mainNav nav h1 b {
  color: rgb(255, 115, 0);
}
.mainNav nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.mainNav nav ul li {
  list-style: none;
  margin: 2px 10px;
}
.mainNav nav ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
  padding: 2px 0px;
  font-family: sans-serif;
}
.mainNav nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(255, 115, 0);
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: auto;
  transition: width 0.5s ease-in-out;
}
.mainNav nav ul li a:hover::after {
  width: 60%;
}
.mainNav nav ul li .addCartbtn {
  position: relative;
  font-size: 1.5rem;
}
.mainNav nav ul li .addCartbtn::after {
  content: none;
}
.mainNav nav ul li .addCartbtn span {
  position: absolute;
  top: -5px;
  font-size: 0.9rem;
  background-color: rgb(255, 115, 0);
  padding: 0px 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-radius: 3px;
}

.carousel .carousel-inner .carousel-item {
  height: 35rem;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Product categories styling */
.productCategories {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}
.productCategories .Image {
  height: 285px;
  overflow: hidden;
  border-radius: 15px;
  filter: grayscale(2);
  position: relative;
  transition: filter 0.3s ease-in-out;
}
.productCategories .Image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productCategories .Image span {
  position: absolute;
  bottom: 50px;
  left: 75px;
  z-index: 15;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.productCategories .Image:hover {
  filter: none;
  color: rgb(255, 115, 0);
}

/* Product or product box styling starts here */
.Mixproduct {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 15px;
  justify-content: center;
}

.product-box {
  position: relative;
  border: 1px solid;
  padding: 5px;
  border-radius: 8px;
  transition: translate 0.5s ease-in-out;
  width: 300px;
  height: 555px;
}
.product-box:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 5px #000;
  border: none;
}
.product-box.showitem {
  display: block;
  width: 300px;
}
.product-box.showitem img {
  width: 100%;
}
.product-box.hideitem {
  display: none;
}

.product-box:hover {
  transition: 0.4s;
}

.mainimg {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainimg .product-img {
  width: 100%;
  height: auto;
  background: rgb(232, 223, 210);
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.price {
  color: gray;
  font-weight: 500;
}

.btnpro {
  width: 60%;
  padding: 5px;
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  outline: 0;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 8px;
}
.btnpro:hover {
  background: rgb(255, 115, 0);
  color: #fff;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  color: rgb(255, 115, 0);
  transition: color 0.2s ease-in-out;
}
.add-cart:hover {
  color: #fff;
}

/* 
!cart.html page styling
*/
.shopping-cart {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 500px);
  justify-content: center;
  gap: 2rem;
}
.shopping-cart .cart-item {
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 1.1rem;
  position: relative;
}
.shopping-cart .cart-item img {
  background-color: rgb(232, 223, 210);
  border-radius: 8px;
}
.shopping-cart .cart-item .title-price-x {
  display: flex;
  gap: 30px;
  font-family: sans-serif;
}
.shopping-cart .cart-item .title-price-x .title-price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shopping-cart .cart-item .title-price-x .title-price p:nth-child(2) {
  background-color: #000;
  padding: 0px 4px;
  color: #fff;
  border-radius: 2px;
}
.shopping-cart .cart-item .title-price-x i {
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}
.shopping-cart .cart-item .title-price-x i:hover {
  font-size: 1.6rem;
  color: red;
}

.text-center {
  margin-top: 80px;
  margin-left: 20px;
  text-align: center;
}
.text-center .emptyLine {
  font-size: 1.8rem;
  font-family: sans-serif;
}
.text-center .backprobtn button {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  font-family: sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.text-center .backprobtn button:hover {
  background-color: rgb(255, 115, 0);
  color: #fff;
}
.text-center .checkout {
  margin-top: 5px;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  font-family: sans-serif;
  cursor: pointer;
  background: green;
  color: #fff;
}
.text-center .checkout:hover {
  box-shadow: 0px 0px 5px gray;
}
.text-center .removeAll {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  font-family: sans-serif;
  cursor: pointer;
  background: red;
  color: #fff;
}
.text-center .removeAll:hover {
  box-shadow: 0px 0px 5px gray;
}

/* cart page Button styling */
.btnplusminus {
  display: flex;
  margin-top: 15px;
  gap: 5px;
}
.btnplusminus i {
  cursor: pointer;
}

/* About page section styling is here */
.imageaboutMain {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
.imageaboutMain .imageabout {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.306), rgba(255, 166, 0, 0.203)), url(Images/about1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 25rem;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageaboutMain .imageabout .abouth1 {
  font-size: 5rem;
  color: blanchedalmond;
  font-family: sans-serif;
}
.imageaboutMain .imageabout:nth-child(2) {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.306), rgba(255, 166, 0, 0.203)), url(Images/about3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageaboutMain .imageabout:nth-child(3) {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.306), rgba(255, 166, 0, 0.203)), url(Images/about2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sometxt {
  padding: 30px 20px;
  margin-top: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: sans-serif;
  gap: 1rem;
}
.sometxt .homelink a {
  background-color: rgb(255, 115, 0);
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 3px;
}

.footerSection {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 223, 210);
  gap: 455px;
}
.footerSection .socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerSection .socialLinks a {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
}
.footerSection .socialLinks a h1 {
  color: rgb(255, 115, 0);
}
.footerSection .socialLinks .indexh1 {
  font-size: 1.7rem;
}
.footerSection .socialLinks .indexh1 h1 {
  font-size: 3rem;
}
.footerSection .socialLinks ul {
  display: flex;
}
.footerSection .socialLinks ul li {
  list-style: none;
}
.footerSection .socialLinks ul li i {
  font-size: 2rem;
  padding: 5px;
  border: 1px solid;
  margin: 1px 5px;
  border-radius: 3px;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
.footerSection .socialLinks ul li i:hover {
  background-color: rgb(255, 115, 0);
  color: #fff;
}
.footerSection .socialLinks p {
  margin-top: 25px;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.footerSection .productLink {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
}
.footerSection .productLink p {
  font-size: 1.4rem;
  text-decoration: underline;
}
.footerSection .productLink li {
  list-style: none;
}
.footerSection .productLink li a {
  text-decoration: none;
  color: #000;
}
.footerSection .productLink li a:hover {
  -webkit-text-decoration: underline 0.01rem;
          text-decoration: underline 0.01rem;
}

.gototop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.gototop a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-family: sans-serif;
}

/* Offer */
.specialOffers {
  position: fixed;
  background: rgba(0, 0, 0, 0.4862745098);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  display: none;
}
.specialOffers .closeOffer {
  position: absolute;
  font-size: 2.5rem;
  right: 70px;
  top: 100px;
  cursor: pointer;
  color: #fff;
  padding: 1px;
  border: 1px solid;
  border-radius: 50%;
}
.specialOffers .closeOffer:hover {
  color: red;
}
.specialOffers .bgOffer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.specialOffers .bgOffer .Offer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid;
  padding: 55px;
  border-radius: 20px;
  gap: 25px;
}
.specialOffers .bgOffer .Offer .earT {
  width: 200px;
  overflow: hidden;
  text-align: center;
}
.specialOffers .bgOffer .Offer .earT span a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ff9812;
  -webkit-text-decoration: underline 0.2rem;
          text-decoration: underline 0.2rem;
}
.specialOffers .bgOffer .Offer .earT img {
  width: 100%;
}
.specialOffers .bgOffer .Offer .Model {
  width: 450px;
  overflow: hidden;
  border-radius: 15px;
}
.specialOffers .bgOffer .Offer .Model img {
  width: 100%;
}

/* Media query started */
@media screen and (max-width: 1032px) {
  .specialOffers .bgOffer .Offer {
    padding: 10px;
  }
  .specialOffers .bgOffer .Offer .earT {
    width: 150px;
  }
  .specialOffers .bgOffer .Offer .earT span a {
    font-size: 0.7rem;
  }
  .specialOffers .bgOffer .Offer .Model {
    width: 280px;
  }
}
@media screen and (max-width: 695px) {
  .specialOffers .closeOffer {
    top: 80px;
    right: 5px;
  }
  .specialOffers .bgOffer .Offer {
    padding: 10px;
    flex-direction: column-reverse;
  }
  .specialOffers .bgOffer .Offer .earT {
    width: 110px;
  }
  .specialOffers .bgOffer .Offer .earT span a {
    font-size: 0.7rem;
  }
  .specialOffers .bgOffer .Offer .Model {
    width: 230px;
  }
}
@media screen and (max-width: 530px) {
  .mainNav {
    overflow: hidden;
    height: 45px;
    transition: height 0.3s ease-in-out;
    padding-top: 5px;
  }
  .mainNav.activeNav {
    height: 120px;
  }
  .mainNav nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mainNav nav h1 {
    margin-right: 55px;
  }
  .mainNav nav ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .mainNav nav ul .cartaddli {
    position: absolute;
    top: 5px;
    right: 65px;
  }
  .mainNav .menuToggle {
    position: absolute;
    top: 5px;
    right: 15px;
    margin-left: -90px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .mainNav .menuToggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0px 7px 0px #000;
  }
  .mainNav .menuToggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(5px);
    transition: 0.5s;
  }
  .mainNav .menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #000;
  }
  .mainNav .menuToggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
  .shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  .shopping-cart .cart-item {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .shopping-cart .cart-item .details .title-price-x .title-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .shopping-cart .cart-item .details .btnplusminus {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping-cart .cart-item h3 {
    margin-top: 5px;
    text-align: center;
  }
  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 740px) {
  .mainNav nav {
    position: relative;
  }
  .mainNav nav .searchOpencls {
    position: absolute;
    top: 7px;
    left: 2px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mainNav nav .searchForm {
    position: absolute;
    top: 8px;
    left: 40px;
  }
}
@media screen and (max-width: 528px) {
  .mainNav nav .searchOpencls {
    top: 0px;
    left: 2px;
  }
  .mainNav nav .searchForm {
    top: 8px;
    left: 40px;
  }
}
/*  */
@media screen and (max-width: 358px) {
  .mainNav .abarh1 h1 {
    font-size: 1rem;
  }
}
/* media query for footer */
@media screen and (max-width: 967px) {
  .footerSection {
    gap: 70px;
  }
  .footerSection .socialLinks .ul {
    text-align: center;
  }
}
@media screen and (max-width: 712px) {
  .footerSection {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 315px) {
  .footerSection .socialLinks {
    text-align: center;
    margin: 0px;
  }
}/*# sourceMappingURL=style.css.map */